.awards-section-single {
  padding: 50px 0; /* Adjust padding as needed */
  display: flex;
  justify-content: center;
}

.awards-list-single {
  width: 80%; /* Adjust width as needed */
}

.award-item-single {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 3px solid #333; /* Optional: adds the horizontal line */
}

.award-item-single:last-child {
  border-bottom: none;
}

.award-name-single {
  font-size: 1rem;
  /* color: #eee; */
}

.award-description-single {
  font-size: 0.9rem;
  /* color: #aaa; */
}