.team-cards-container.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.team-cards-container {
  display: flex;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch;
  padding: 20px;
 cursor: grab;
  cursor: -webkit-grab;
  user-select: none;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
   overflow-x: scroll;
  scroll-behavior: smooth;
  user-select: none;
  cursor: grab;
}

.team-cards-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.team-cards-container {
  scroll-behavior: auto;
}

.team-cards-container.active {
  cursor: grabbing;
}

.team-card {
  flex: 0 0 auto; 
  width: 556.812px; 
  /* height: 600px;  */
  /* border: 1px solid ; */
  border-radius: 8px;
  margin-right: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-card:last-child {
  margin-right: 0; 
}

.team-member-image {
  width: 700px;
  height: 700px; 
  object-fit: cover; 
 border-radius: 20px;
}

.team-member-details {
   margin-top: 15px;
  padding: 15px;
}

.team-member-details h3 {
  font-size: 24px;
  font-weight: bold;
  /* margin-bottom: 5px; */
}

.team-member-details p {
  font-size: 20.256px;
    font-weight: bold;
}
